[user]
    name = linhusp
[core]
    editor = nvim
[diff]
    tool = nvim
[alias]
    logg = log --oneline --graph --decorate
[mergetool]
    prompt = true
[mergetool "nvim"]
    ; cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
    cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c 'wincmd J'
